telegram:
  bot:
    token:
    username:
spring:
  datasource:
    url:
    username:
    password:
    driver-class-name:
  jpa:
    show-sql:
    properties:
      hibernate:
        enable_lazy_load_no_trans: true
    hibernate:
      dialect:
      ddl-auto: 
